* {
  margin: 0;
  padding: 0;
}

ul {
  background-color: black;
  list-style-type: none;
  color: white;
}

ul li {
  display: inline-block;
  padding: 10px;
  /* position: relative; */
  &:hover {
    background-color: green;
    color: white;
  }
}

/* --------------------------------------- drop-down1 */
.dropdown {
  display: none;
}

ul li:hover .dropdown {
  display: block;
  position: absolute;
  margin-left: -10px;
  margin-top: 10px;
}
.dropdown ul {
  margin: 0;
  padding: 0;
  /* background-color: red; */
}
.dropdown ul li {
  display: block;
}
/* ---------------------------------------------- drop down 2 */
.dropdown2 {
  display: none;
}
.dropdown ul li:hover .dropdown2 {
  display: block;
  position: absolute;
  margin-left: 141px;
  margin-top: -28.2px;
}

/* ---------------------------------------------- drop down 3 */
.dropdown3 {
  display: none;
}
.dropdown2 ul li:hover .dropdown3 {
  display: block;
  position: absolute;
  margin-left: 98.2px;
  margin-top: -28.2px;
}
